<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="font-size: 10px;"></table>
    <button><a href=""> </a></button>
    <br>
    <form action="pasarsolicitud" method="post">
        <select name="id_solicitud" id="id_solicitud" disabled="disabled">valor</select>
        <br>
        <br>
        <label for="prioridad">Asignar prioridad: </label>
        <select name="prioridad" id="prioridad">
            <option value="alta">Alta</option>
            <option value="media">Media</option>
            <option value="baja">Baja</option>
        </select>
        <br>
        <br>
        <label for="area">Asignar Area: </label>
        <select name="area" id="area">
            <option value=valor>valor</option>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</body>
</html>